{% extends 'ideas/base.html' %}

{% block content %}
<h1 class="page-title">
    {% if form.instance.pk %}
        Idea Detail Update
    {% else %}
        Idea Register
    {% endif %}
</h1>

<p class="page-subtitle">
    {% if form.instance.pk %}
        아이디어 세부내용 수정 페이지입니다. 아이디어를 구체화하거나 내용을 변경해보세요.
    {% else %}
        아이디어 등록 페이지입니다. 당신의 아이디어를 잊지 말고 기록하세요!
    {% endif %}
</p>

<div class="form-wrap">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="submit-wrap">
            <button class="submit-btn" type="submit">SUBMIT</button>
        </div>
    </form>
</div>
{% endblock %}